body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3e6e6 !important;
}
.nav-m{
  background: #131921;
}
.logo-amazon {
  width: 8%;
  height: auto;
  /* margin: 4px 6px; */
}
.logo-amazon:hover {
  /* box-sizing: border-box; */
  border: 1px solid white;
  border-radius: 2px;
}
.location {
  margin: 10px 6px;
  width: fit-content;
}
.loc-txt {
  color: #cccccc;
  font-size: 14px;
}
.location-logo {
  width: 25%;
  height: 40%;
  /* margin-bottom: 8px; */
}
.loc-txt-p {
  font-size: 14px;
}
.btn1 {
  background: #e6e6e6;
  /* margin-top: 6px; */
  border-bottom-left-radius: 6px !important;
  border-top-left-radius: 6px !important;
  width: fit-content;
  color: #0f1111;
  font-size: 14px;
  padding: 11.5px;
  border: none;
  /* margin-right: 0px; */
  /* border-bottom-right-radius: 5px !important; */
}
/* .slider{
  height: 100vh;
} */
.input{
    /* background: #fff; */
    width: 40%;
    max-width: 100%;
}
.search{
    height: 44px;
    width: 560px;
    border: none;
    outline: none;
}
.search-2{
  height: 44px;
  /* width: 75vw; */
  border: none;
  outline: none;
}
.img-lens{
  background: #ffffff;

}
.lens-img{
    background: #ffffff;
    width: 44px;
    height: 44px;
    padding: 13px;
}
.btn2{
    background: #febd69;
    width: 50px;
    height: 44px;
    padding: 8px;
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
    margin-left: x;
    border: none;
}
.serach-icon{
    width: 36px;
    height: 30px;
}
.nav-icon{
    background: #fff;
}
.flag-img{
    width: 24px;
    height: 18px;
    margin: 0 2px 3px 0;
    transform: scale(.8);
}
.flag {
  width: 5%;
  padding: 9px 9px 5px;
  font-weight: bold;
}
.loc-txt-2{
  color: #ffffff;
  font-size: 14px;
}
.navbar-toggler{
  outline: none;
}
/* .navbar-toggler-icon{
  color: #fff;
} */
.mini-nav{
  background: #232f3e;
}
.menu-items{
  color: #fff;
  
}
.menu-items ul li{
  list-style: none;
}
#carouselExample{
  background: #000;
  height: 100vh;
  width: 100vw;
}
#carouselExample button{
  align-self: center;
  margin: 0px 10px;
  width: 5%;
  height:40%;
  /* color: #000; */
  /* fill: #000; */

}
#carouselExample button:hover{
  border: 2px solid #007185;
}
/* .carousel-control-prev-icon{
} */

.navbar-hamber{
  color: #fff !important;
}
.navbar-responsive{
  background: #232f3e !important;
}
.navbar-toggler{
  border: 0px !important;
}
.logo-amazon-2{
  width: 26% !important;
}
.signin-txt{
  color: #fff;
}
.input-s-2{
  max-width: 100%;
}
.nav-cart-count{
  color: #f08804;
  font-weight: bold;
  position: absolute;
  top: 9px;
  right: 47px;
}
.nav-cart-count-m{
  color: #f08804;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 68px;
  font-size: 20px !important;
}
.last-text:hover{
  color: #C7511F;
}
.top-f:hover{
opacity: .9;
}
.nav-item{
  font-size: 14px;
}
.nav-item:hover{
  text-decoration: underline;
}
.navFooterDescText{
  color: #999999;
}
.card-container::-webkit-scrollbar {
  display: none;
}
.wrapper-container::-webkit-scrollbar {
  display: none;
}
.mini-nav::-webkit-scrollbar {
  display: none;
}
.card-item P{
  padding-left: 20px;
}
@media (max-width:450px){
  .mini-nav{
      font-size: .6rem;
  }
  .bar-2 button{
      font-size: .6rem;
  }
  .bar-2 img{
      width: 15px;
  }
  .card{
    width: 12.2rem !important;
  }
  .carousel-item img{
    height: 50vh;
  }
  .card-container{
    top: 100px !important;
  }
  .slider{
    height: 65vh !important;
    margin-bottom: 30px !important;
  }
  .cards-cont-m{
    margin-top: 30px !important;
  }
  .about-container-m{
    margin-top: 100px !important;
  }
  .logo-amazon{
    width: 50% !important;
  }
  .signin{
    padding: 0 !important;
  }
}
@media (min-width:768px){
  /* .bar-2{
      font-size: .8rem;
  }
  .navbar-toggler{
      font-size: .6rem;
      padding: 0;
  }
  .bar-2 img{
      width: 15px;
  } */
  .card-container{
    top: 140px !important;
  }
  .card{
    width: 14.7rem !important;
  }
}
@media (min-width:992px){
  .nav-m{
      width: 100%;
  }
  .input{
    width: 50%;
  }
  .card-container{
    top: 230px !important;
  }
  .search{
    width: 516px
  }
  .nav-cart-count-m{
    right: 72px;
  }
  .cards-cont-m{
  margin-top: 60px !important;

  }
  .card{
    width: 20rem !important;
  }
}

@media (min-width:1025px){
  .card-container::-webkit-scrollbar {
    display: none;
  
}
.card-container{
  top: 320px !important;
}
.cards-cont-m{
  margin-top: 20px !important;
}
.cards-cont::-webkit-scrollbar{
  display: none;
 
}
.cards-cont-m::-webkit-scrollbar{
  display: none;

}
.nav-cart-count-m{
  right: 68px;
}
hr{
  margin: 10px -102px !important;
  margin-top: 50px !important;
}
}